.profile {
    max-width: inherit;
    width: 100%;
    padding: 40px 0 51px 0;
    display: grid;
    grid-template-columns: 120px auto 1fr 150px;
    grid-template-rows: repeat(2, auto-fit);
    row-gap: 8px;
}