@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

.root {
    background-color: #000;
    font-family: 'Inter';
    color: #fff;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 45px 200px 60px 200px;
}

.header {
    display: flex;
    box-sizing: inherit;
    max-width: 880px;
    width: 100%;
    min-height: 74px;
    border-bottom: 1px solid #545454;
}

.logo {
    object-fit: contain;
    max-width: 142px;
    width: 100%;
}

.main {
    max-width: 880px;
    width: 100%;
}

.profile {
    max-width: inherit;
    width: 100%;
    padding: 40px 0 50px 0;
    display: grid;
    grid-template-columns: 120px 300px 1fr 150px;
    grid-template-rows: repeat(2, auto-fit);
    column-gap: 30px;
}

.profile__name {
    grid-column: 2;
    margin: 0;
    align-self: end;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
}

.profile__job {
    grid-column: 2;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.profile__edit {
    grid-column: 3;
    grid-row: 1;
}

.add {
    grid-column: 4;
    grid-row: 1 / span 2;
}

.avatar {
    box-sizing: border-box;
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    grid-row: 1 / span 2;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    column-gap: 17px;
    row-gap: 20px;
}

.card {
    max-width: 282px;
    width: 100%;
}