@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

.root {
    background-color: #000;
    font-family: 'Inter';
    color: #fff;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 45px 200px 0 200px;
}

.header {
    display: flex;
    box-sizing: inherit;
    max-width: 880px;
    width: 100%;
    min-height: 74px;
    border-bottom: 1px solid #545454;
}

.logo {
    object-fit: contain;
    max-width: 142px;
    width: 100%;
}

.main {
    max-width: 880px;
    width: 100%;
}

.profile {
    max-width: inherit;
    width: 100%;
    padding: 40px 0 51px 0;
    display: grid;
    grid-template-columns: 120px 300px 1fr 150px;
    grid-template-rows: repeat(2, auto-fit);
    column-gap: 30px;
    row-gap: 8px;
}

.profile__name {
    grid-column: 2;
    margin: 0;
    align-self: end;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
}

.profile__job {
    grid-column: 2;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.profile__edit {
    grid-column: 3;
    grid-row: 1;
}

.add {
    grid-column: 4;
    grid-row: 1 / span 2;
}

.avatar {
    box-sizing: border-box;
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    grid-row: 1 / span 2;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    column-gap: 17px;
    row-gap: 20px;
}

.card {
    max-width: 282px;
    width: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 215px 42px;
    grid-row: 282px 54px;
    gap: 25px;
}

.card__img {
    object-fit: cover;
    width: 282px;
    height: 282px;
    grid: 1 / span 2;
    border-radius: 10px 10px 0 0;
}

.card__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    margin: 0 0 25px 21px;
    grid-column: 1;
    grid-row: 2;
}

.card__like {
    width: 22px;
    height: 19px;
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    padding: 0;
    margin-right: 20px;
}

.footer {
    min-height: 145px;
    height: 100%;
    display: flex;
}

.footer__copyright {
    margin: 66px 0 0 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400px;
    color: #545454;
}